body{
    width: 80%;
    height:1200px;
    background-color: grey;
}
form{
    width: 600px;
    height: 300px;
    background-color: salmon;
    text-align: center;
}
#idUl, li, a{
    display: inline;
    padding-top: 150px;
    padding-left: 50px;
    text-decoration: no-underline;
}
/*form, li{*/
    /*padding-top: 20px;*/
/*}*/
.bar{
    width: 100%;
    height: 100px;
    bg-color:cream;
}